workflows/formatter.json
{"updatedAt":"2026-03-29T04:11:20.942Z","createdAt":"2026-02-26T22:07:26.111Z","id":"Zfb72Ej26LKIyijV5NbrG","name":"Data Analyzer - Run Formatter v2.02","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"model":"={{ $('Webhook').first().json.body.model || 'openai/gpt-oss-120b' }}","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[384,608],"id":"52b4389e-498c-4688-8c5a-4a4aa3785116","name":"Step LLM","credentials":{"openRouterApi":{"id":"SScyp7rqdYRmN9lx","name":"OpenRouter account"}}},{"parameters":{"httpMethod":"POST","path":"run-formatter","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-208,112],"id":"7ca7d745-a674-4d2f-9003-31c10317abee","name":"Webhook","webhookId":"rf-webhook-id-001"},{"parameters":{"respondWith":"json","responseBody":"={\"status\":\"ok\",\"report_id\":\"{{ $json.body.report_id }}\"}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[32,-96],"id":"1e473e69-ecb3-4ab3-ab1d-b0534dbffd18","name":"Respond Immediately"},{"parameters":{"operation":"executeQuery","query":"=SELECT step_number, purpose, dataset_id, step_result FROM n8n_data.report_step_results WHERE report_id = '{{ $json.body.report_id }}' AND step_number > 0 ORDER BY step_number","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[32,112],"id":"89b917d9-1e4d-4fd5-b15f-a8f7b9613a53","name":"Load All Step Results","credentials":{"postgres":{"id":"5JhwTls4nSPISJqU","name":"Postgres account"}}},{"parameters":{"jsCode":"const steps = $input.all().map(item => item.json);\nconst body = $('Webhook').first().json.body;\n\nlet stepsText = '';\nfor (const s of steps) {\n  stepsText += `\n=== STEP ${s.step_number}: ${s.purpose} ===\nDataset: ${s.dataset_id}\n\n${s.step_result}\n\n`;\n}\n\nreturn [{\n  json: {\n    report_id: body.report_id,\n    plan_id: '',\n    email: body.email || '',\n    model: body.model || 'moonshotai/kimi-k2.5',\n    templateId: body.templateId || '',\n    all_step_results: stepsText,\n    step_count: steps.length\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,112],"id":"e18b4ad7-5d7d-4277-9716-22afc9359c77","name":"Combine Step Results"},{"parameters":{"promptType":"define","text":"=Consolidate the following {{ $json.step_count }} step results into a single coherent, professional report and format it as styled HTML.\n\nREPORT ID: {{ $json.report_id }}\nPLAN ID: {{ $json.plan_id }}\n\nSTEP RESULTS:\n{{ $json.all_step_results }}","options":{"systemMessage":"=Role: You are an expert report writer and HTML formatter.\n\nYour job is to fully fulfil user's requested analysis \"{{ $('Webhook').first().json.body.user_prompt }}\". You will execute this in TWO parts:\n\nPART 1 - CONSOLIDATE: Take the individual analysis step results and consolidate them into a single, professional, well-structured report. The level of detail on how the data was generated from datasets should be: {{ $json.detail_level }}. Follow the Framework 1.1 if {{ $json.report_level }} is 'Detailed Report'. Follow the framework 1.2 below if {{ $json.report_level }} is 'Simple Report'.\n\nFramework 1.1 - \"Detailed Report\"\n- Executive Summary - Key findings and highlights\n- Detailed Analysis - One section per step, incorporating the data and findings\n- Conclusions & Recommendations\nUse clear headings, bullet points, data tables where appropriate, and professional language. Present numbers with appropriate formatting. If any step had errors or missing data, note it but don't let it derail the overall report.\n\nFramework 1.2 - \"Simple Report\"\n- Executive Summary - Key findings. If any critical errors occured during the previous steps, skip.\n**Important** Do not show detailed analysis or step results. Only show result that is directly related to user inquiry.\n- Conclusions & Recommendations\nUse clear headings, bullet points, data tables where appropriate, and professional language. Present numbers with appropriate formatting. If any critical errors occured during the previous steps, state so and stop.\n\nPART 2 - FORMAT AS HTML: {{ $json.templateId ? 'Query the Report Template tool with template_id: ' + $json.templateId + ' to fetch reference HTML. Use its CSS and structure as the master template, prioritizing its styles (colors, fonts, borders) above all else.' : 'No template ID provided — skip the Report Template tool entirely. Format the report as clean, professional HTML with tasteful inline styles. Make sure to use light font color against dark background color and dark font color against light background color for readability.' }}\n\nMake sure to eliminate any unnecessary tags or symbols that will get in the way of clean report such as \" \\n\"\n\nIMPORTANT: DO NOT OUTPUT THE PLAN, COMMENT OR EXPLANATION OF THE ACTION. JUST OUTPUT HTML."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[464,112],"id":"588bb834-127a-4d28-a341-5ae2760b9c94","name":"Formatter","onError":"continueErrorOutput"},{"parameters":{"descriptionType":"manual","toolDescription":"Fetches the HTML template for the report. Pass the template_id as a string argument.","operation":"select","schema":{"__rl":true,"value":"n8n_data","mode":"list","cachedResultName":"n8n_data"},"table":{"__rl":true,"value":"data-analyzer-report-templates","mode":"list","cachedResultName":"data-analyzer-report-templates"},"limit":1,"where":{"values":[{"column":"template_id","value":"={{ $fromAI('template_id', 'The ID of the report template to fetch', 'string') }}"}]},"options":{"outputColumns":["html"]}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[784,304],"id":"527ee5e6-4013-4d4b-9b84-0f34e63e35e0","name":"Report Template","credentials":{"postgres":{"id":"5JhwTls4nSPISJqU","name":"Postgres account"}}},{"parameters":{"jsCode":"// Get the HTML content from the Formatter agent output\nconst item = $input.first().json;\nlet html = item.output || item.text || item.response || item.message || \"\";\n\nif (typeof html !== 'string') {\n  html = html.content || html.html || JSON.stringify(html);\n}\n\n// 1. Remove newlines and carriage returns \n// NOTE: If you want to keep the report's formatting, change this to .replace(/[\\n\\r]+/g, ' ')\nhtml = html.replace(/[\\n\\r]/g, ' ');\n\n// 2. Remove tabs and sequences of multiple spaces\nhtml = html.replace(/\\t/g, '');\nhtml = html.replace(/\\s{2,}/g, ' ');\n\n// 3. Remove meaningless empty tags\nhtml = html.replace(/<(span|p|div|section)>\\s*<\\/\\1>/gi, '');\n\n// 4. Strip stray markdown code fences\nhtml = html.replace(/^```html|```$/g, '');\n\n// 5. Trim\nhtml = html.trim();\n\n/**\n * 6. SQL SAFETY & CHARACTER CLEANUP\n * This is the most important part for your specific error.\n */\n\n// Escape single quotes by doubling them (Standard SQL Requirement)\n// This turns L'INSTITUT into L''INSTITUT so the DB doesn't crash\nhtml = html.replace(/'/g, \"''\");\n\n// Remove or replace Null characters which can terminate strings prematurely in some DBs\nhtml = html.replace(/\\0/g, '');\n\n// Optional: Replace \"Smart Quotes\" (curly quotes from Word/Mac) with standard quotes \n// before they get escaped, as they sometimes cause encoding issues.\nhtml = html.replace(/[\\u2018\\u2019]/g, \"''\") // Smart single quotes\n           .replace(/[\\u201C\\u201D]/g, '\"'); // Smart double quotes\n\nreturn [{\n  json: {\n    ...item,\n    cleaned_html: html\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,112],"id":"3c9c4342-e4fc-4313-9f06-062781d810ff","name":"Clean Up"},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO n8n_data.report_step_results (report_id, plan_id, step_number, purpose, dataset_id, step_result, status) VALUES ('{{ $('Combine Step Results').first().json.report_id }}', '', 0, 'Final Consolidated Report', '', '{{ $json.cleaned_html ? String($json.cleaned_html).replace(/'/g, \"''\") : $('Combine Step Results').first().json.all_step_results }}', 'final_report')","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1040,112],"id":"32d5cbca-175f-435f-bb5c-98fbc0a80c36","name":"Save Final Report","credentials":{"postgres":{"id":"5JhwTls4nSPISJqU","name":"Postgres account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO n8n_data.report_step_results (report_id, plan_id, step_number, purpose, dataset_id, step_result, status) VALUES ('{{ $('Combine Step Results').first().json.report_id }}', '', 0, 'Formatter Error', '', '{{ $json.error ? (typeof $json.error === \"object\" ? JSON.stringify($json.error) : String($json.error)).replace(/'/g, \"''\") : \"Formatter failed\" }}', 'error')","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1040,304],"id":"f93ff798-d7a5-45aa-8e36-b7d85e2125e3","name":"Save Formatter Error","credentials":{"postgres":{"id":"5JhwTls4nSPISJqU","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"=DO $$ DECLARE r RECORD; BEGIN FOR r IN SELECT tablename FROM pg_tables WHERE schemaname = 'n8n_data' AND tablename LIKE 'tmp_{{ $('Combine Step Results').first().json.report_id }}_step_%' LOOP EXECUTE 'DROP TABLE IF EXISTS n8n_data.\"' || r.tablename || '\"'; END LOOP; END $$;","options":{}},"name":"Drop Temp Tables","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1312,112],"id":"3a33aa98-8cf5-4d90-841e-99aea0718c22","credentials":{"postgres":{"id":"5JhwTls4nSPISJqU","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"=DO $$ DECLARE r RECORD; BEGIN FOR r IN SELECT tablename FROM pg_tables WHERE schemaname = 'n8n_data' AND tablename LIKE 'tmp_{{ $('Combine Step Results').first().json.report_id }}_step_%' LOOP EXECUTE 'DROP TABLE IF EXISTS n8n_data.\"' || r.tablename || '\"'; END LOOP; END $$;","options":{}},"name":"Drop Temp Tables (Error)","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1312,304],"id":"9fcb2f60-18d3-4624-8fa0-9ddee0754e5a","credentials":{"postgres":{"id":"5JhwTls4nSPISJqU","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"schema":{"__rl":true,"value":"n8n_data","mode":"list","cachedResultName":"n8n_data"},"table":{"__rl":true,"value":"ai_usage","mode":"list","cachedResultName":"ai_usage"},"columns":{"mappingMode":"defineBelow","value":{"input_tokens":"={{ (Math.round(JSON.stringify($('Webhook').item.json.body).length + $('Combine Step Results').first().json.all_step_results.length) / 4) + 600 }}\n","user_email":"={{ $('Webhook').first().json.body.email }}","model_id":"={{ $('Webhook').first().json.body.model }}","call_type":"Execute - Formatter","output_tokens":"={{ Math.round(JSON.stringify($('Formatter').item.json).length / 4) }}\n"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"user_email","displayName":"user_email","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"model_id","displayName":"model_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"call_type","displayName":"call_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"input_tokens","displayName":"input_tokens","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"output_tokens","displayName":"output_tokens","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,-48],"id":"b19c4d40-d763-4b8f-81ee-9e1ce804f347","name":"Record Tokens","credentials":{"postgres":{"id":"5JhwTls4nSPISJqU","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"jsonSchemaExample":"{\n\t\"sql\": \"=INSERT INTO n8n_data.report_step_results (report_id, plan_id, step_number, purpose, dataset_id, step_result, status) VALUES ('rpt_1774734129303_ayleoa', '', 0, 'Final Consolidated Report', '', '<!DOCTYPE html> <html></html>', 'final_report')\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1872,96],"id":"af951961-74c4-42ac-9538-fd3c75e169d0","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"=SQL and Error:\n{{ $json.error.description }} \n","hasOutputParser":true,"needsFallback":true,"options":{"systemMessage":"=Role: You are an expert SQL query engineer.\nYou are to examine the failed SQL statement and the error provided and fix the SQL statement.\nOnly output SQL statement."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1536,-128],"id":"ac83bb13-aae7-43b4-9d3e-980b26c42c10","name":"Fix SQL","onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"{{ $json.output.sql }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2032,-176],"id":"17f1d81a-a907-4c09-9383-67ded52ec2a0","name":"Save Final Report1","credentials":{"postgres":{"id":"5JhwTls4nSPISJqU","name":"Postgres account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"=DO $$ DECLARE r RECORD; BEGIN FOR r IN SELECT tablename FROM pg_tables WHERE schemaname = 'n8n_data' AND tablename LIKE 'tmp_{{ $('Combine Step Results').first().json.report_id }}_step_%' LOOP EXECUTE 'DROP TABLE IF EXISTS n8n_data.\"' || r.tablename || '\"'; END LOOP; END $$;","options":{}},"name":"Drop Temp Tables1","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2288,-192],"id":"f430ddb7-9a3b-4f2a-8c10-0305b12139e7","credentials":{"postgres":{"id":"5JhwTls4nSPISJqU","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"model":"={{ $('Webhook').first().json.body.model || 'openai/gpt-oss-120b' }}","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1504,704],"id":"04470430-4166-4df8-9d2c-a4778d0c09a1","name":"Step LLM1","credentials":{"openRouterApi":{"id":"SScyp7rqdYRmN9lx","name":"OpenRouter account"}}},{"parameters":{"model":"openai/gpt-oss-120b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1808,688],"id":"56de3bf5-5d71-4c77-af76-0840ed9cd94d","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"SScyp7rqdYRmN9lx","name":"OpenRouter account"}}}],"connections":{"Step LLM":{"ai_languageModel":[[{"node":"Formatter","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Respond Immediately","type":"main","index":0},{"node":"Load All Step Results","type":"main","index":0}]]},"Load All Step Results":{"main":[[{"node":"Combine Step Results","type":"main","index":0}]]},"Combine Step Results":{"main":[[{"node":"Formatter","type":"main","index":0}]]},"Formatter":{"main":[[{"node":"Clean Up","type":"main","index":0},{"node":"Record Tokens","type":"main","index":0}],[{"node":"Save Formatter Error","type":"main","index":0}]]},"Report Template":{"ai_tool":[[{"node":"Formatter","type":"ai_tool","index":0}]]},"Clean Up":{"main":[[{"node":"Save Final Report","type":"main","index":0}]]},"Save Final Report":{"main":[[{"node":"Drop Temp Tables","type":"main","index":0}],[{"node":"Fix SQL","type":"main","index":0}]]},"Save Formatter Error":{"main":[[{"node":"Drop Temp Tables (Error)","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Fix SQL","type":"ai_outputParser","index":0}]]},"Fix SQL":{"main":[[{"node":"Save Final Report1","type":"main","index":0}]]},"Save Final Report1":{"main":[[{"node":"Drop Temp Tables1","type":"main","index":0}]]},"Step LLM1":{"ai_languageModel":[[{"node":"Fix SQL","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6d138c97-0684-4645-8f57-29b25569b319","activeVersionId":"6d138c97-0684-4645-8f57-29b25569b319","versionCounter":266,"triggerCount":1,"shared":[{"updatedAt":"2026-02-26T22:07:26.111Z","createdAt":"2026-02-26T22:07:26.111Z","role":"workflow:owner","workflowId":"Zfb72Ej26LKIyijV5NbrG","projectId":"1Tt3UeBU40oNvF7P","project":{"updatedAt":"2025-10-06T05:12:43.166Z","createdAt":"2025-10-06T05:08:40.705Z","id":"1Tt3UeBU40oNvF7P","name":"EUN ed.e.lee@gmail.com <ed.e.lee@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"311513a6-4117-4a5c-89e5-28f958dbd390","projectRelations":[{"updatedAt":"2025-10-06T05:08:40.705Z","createdAt":"2025-10-06T05:08:40.705Z","userId":"311513a6-4117-4a5c-89e5-28f958dbd390","projectId":"1Tt3UeBU40oNvF7P","user":{"updatedAt":"2026-03-29T05:22:29.266Z","createdAt":"2025-10-06T05:08:32.753Z","id":"311513a6-4117-4a5c-89e5-28f958dbd390","email":"ed.e.lee@gmail.com","firstName":"EUN","lastName":"ed.e.lee@gmail.com","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-26T08:28:02.179Z","personalization_survey_n8n_version":"2.1.4"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"SxDwHc0lnbViX2QV","userActivatedAt":1759818413157,"npsSurvey":{"responded":true,"lastShownAt":1767391940455}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-29","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-29T04:11:24.427Z","createdAt":"2026-03-29T04:11:20.943Z","versionId":"6d138c97-0684-4645-8f57-29b25569b319","workflowId":"Zfb72Ej26LKIyijV5NbrG","nodes":[{"parameters":{"model":"={{ $('Webhook').first().json.body.model || 'openai/gpt-oss-120b' }}","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[384,608],"id":"52b4389e-498c-4688-8c5a-4a4aa3785116","name":"Step LLM","credentials":{"openRouterApi":{"id":"SScyp7rqdYRmN9lx","name":"OpenRouter account"}}},{"parameters":{"httpMethod":"POST","path":"run-formatter","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-208,112],"id":"7ca7d745-a674-4d2f-9003-31c10317abee","name":"Webhook","webhookId":"rf-webhook-id-001"},{"parameters":{"respondWith":"json","responseBody":"={\"status\":\"ok\",\"report_id\":\"{{ $json.body.report_id }}\"}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[32,-96],"id":"1e473e69-ecb3-4ab3-ab1d-b0534dbffd18","name":"Respond Immediately"},{"parameters":{"operation":"executeQuery","query":"=SELECT step_number, purpose, dataset_id, step_result FROM n8n_data.report_step_results WHERE report_id = '{{ $json.body.report_id }}' AND step_number > 0 ORDER BY step_number","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[32,112],"id":"89b917d9-1e4d-4fd5-b15f-a8f7b9613a53","name":"Load All Step Results","credentials":{"postgres":{"id":"5JhwTls4nSPISJqU","name":"Postgres account"}}},{"parameters":{"jsCode":"const steps = $input.all().map(item => item.json);\nconst body = $('Webhook').first().json.body;\n\nlet stepsText = '';\nfor (const s of steps) {\n  stepsText += `\n=== STEP ${s.step_number}: ${s.purpose} ===\nDataset: ${s.dataset_id}\n\n${s.step_result}\n\n`;\n}\n\nreturn [{\n  json: {\n    report_id: body.report_id,\n    plan_id: '',\n    email: body.email || '',\n    model: body.model || 'moonshotai/kimi-k2.5',\n    templateId: body.templateId || '',\n    all_step_results: stepsText,\n    step_count: steps.length\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,112],"id":"e18b4ad7-5d7d-4277-9716-22afc9359c77","name":"Combine Step Results"},{"parameters":{"promptType":"define","text":"=Consolidate the following {{ $json.step_count }} step results into a single coherent, professional report and format it as styled HTML.\n\nREPORT ID: {{ $json.report_id }}\nPLAN ID: {{ $json.plan_id }}\n\nSTEP RESULTS:\n{{ $json.all_step_results }}","options":{"systemMessage":"=Role: You are an expert report writer and HTML formatter.\n\nYour job is to fully fulfil user's requested analysis \"{{ $('Webhook').first().json.body.user_prompt }}\". You will execute this in TWO parts:\n\nPART 1 - CONSOLIDATE: Take the individual analysis step results and consolidate them into a single, professional, well-structured report. The level of detail on how the data was generated from datasets should be: {{ $json.detail_level }}. Follow the Framework 1.1 if {{ $json.report_level }} is 'Detailed Report'. Follow the framework 1.2 below if {{ $json.report_level }} is 'Simple Report'.\n\nFramework 1.1 - \"Detailed Report\"\n- Executive Summary - Key findings and highlights\n- Detailed Analysis - One section per step, incorporating the data and findings\n- Conclusions & Recommendations\nUse clear headings, bullet points, data tables where appropriate, and professional language. Present numbers with appropriate formatting. If any step had errors or missing data, note it but don't let it derail the overall report.\n\nFramework 1.2 - \"Simple Report\"\n- Executive Summary - Key findings. If any critical errors occured during the previous steps, skip.\n**Important** Do not show detailed analysis or step results. Only show result that is directly related to user inquiry.\n- Conclusions & Recommendations\nUse clear headings, bullet points, data tables where appropriate, and professional language. Present numbers with appropriate formatting. If any critical errors occured during the previous steps, state so and stop.\n\nPART 2 - FORMAT AS HTML: {{ $json.templateId ? 'Query the Report Template tool with template_id: ' + $json.templateId + ' to fetch reference HTML. Use its CSS and structure as the master template, prioritizing its styles (colors, fonts, borders) above all else.' : 'No template ID provided — skip the Report Template tool entirely. Format the report as clean, professional HTML with tasteful inline styles. Make sure to use light font color against dark background color and dark font color against light background color for readability.' }}\n\nMake sure to eliminate any unnecessary tags or symbols that will get in the way of clean report such as \" \\n\"\n\nIMPORTANT: DO NOT OUTPUT THE PLAN, COMMENT OR EXPLANATION OF THE ACTION. JUST OUTPUT HTML."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[464,112],"id":"588bb834-127a-4d28-a341-5ae2760b9c94","name":"Formatter","onError":"continueErrorOutput"},{"parameters":{"descriptionType":"manual","toolDescription":"Fetches the HTML template for the report. Pass the template_id as a string argument.","operation":"select","schema":{"__rl":true,"value":"n8n_data","mode":"list","cachedResultName":"n8n_data"},"table":{"__rl":true,"value":"data-analyzer-report-templates","mode":"list","cachedResultName":"data-analyzer-report-templates"},"limit":1,"where":{"values":[{"column":"template_id","value":"={{ $fromAI('template_id', 'The ID of the report template to fetch', 'string') }}"}]},"options":{"outputColumns":["html"]}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[784,304],"id":"527ee5e6-4013-4d4b-9b84-0f34e63e35e0","name":"Report Template","credentials":{"postgres":{"id":"5JhwTls4nSPISJqU","name":"Postgres account"}}},{"parameters":{"jsCode":"// Get the HTML content from the Formatter agent output\nconst item = $input.first().json;\nlet html = item.output || item.text || item.response || item.message || \"\";\n\nif (typeof html !== 'string') {\n  html = html.content || html.html || JSON.stringify(html);\n}\n\n// 1. Remove newlines and carriage returns \n// NOTE: If you want to keep the report's formatting, change this to .replace(/[\\n\\r]+/g, ' ')\nhtml = html.replace(/[\\n\\r]/g, ' ');\n\n// 2. Remove tabs and sequences of multiple spaces\nhtml = html.replace(/\\t/g, '');\nhtml = html.replace(/\\s{2,}/g, ' ');\n\n// 3. Remove meaningless empty tags\nhtml = html.replace(/<(span|p|div|section)>\\s*<\\/\\1>/gi, '');\n\n// 4. Strip stray markdown code fences\nhtml = html.replace(/^```html|```$/g, '');\n\n// 5. Trim\nhtml = html.trim();\n\n/**\n * 6. SQL SAFETY & CHARACTER CLEANUP\n * This is the most important part for your specific error.\n */\n\n// Escape single quotes by doubling them (Standard SQL Requirement)\n// This turns L'INSTITUT into L''INSTITUT so the DB doesn't crash\nhtml = html.replace(/'/g, \"''\");\n\n// Remove or replace Null characters which can terminate strings prematurely in some DBs\nhtml = html.replace(/\\0/g, '');\n\n// Optional: Replace \"Smart Quotes\" (curly quotes from Word/Mac) with standard quotes \n// before they get escaped, as they sometimes cause encoding issues.\nhtml = html.replace(/[\\u2018\\u2019]/g, \"''\") // Smart single quotes\n           .replace(/[\\u201C\\u201D]/g, '\"'); // Smart double quotes\n\nreturn [{\n  json: {\n    ...item,\n    cleaned_html: html\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,112],"id":"3c9c4342-e4fc-4313-9f06-062781d810ff","name":"Clean Up"},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO n8n_data.report_step_results (report_id, plan_id, step_number, purpose, dataset_id, step_result, status) VALUES ('{{ $('Combine Step Results').first().json.report_id }}', '', 0, 'Final Consolidated Report', '', '{{ $json.cleaned_html ? String($json.cleaned_html).replace(/'/g, \"''\") : $('Combine Step Results').first().json.all_step_results }}', 'final_report')","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1040,112],"id":"32d5cbca-175f-435f-bb5c-98fbc0a80c36","name":"Save Final Report","credentials":{"postgres":{"id":"5JhwTls4nSPISJqU","name":"Postgres account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO n8n_data.report_step_results (report_id, plan_id, step_number, purpose, dataset_id, step_result, status) VALUES ('{{ $('Combine Step Results').first().json.report_id }}', '', 0, 'Formatter Error', '', '{{ $json.error ? (typeof $json.error === \"object\" ? JSON.stringify($json.error) : String($json.error)).replace(/'/g, \"''\") : \"Formatter failed\" }}', 'error')","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1040,304],"id":"f93ff798-d7a5-45aa-8e36-b7d85e2125e3","name":"Save Formatter Error","credentials":{"postgres":{"id":"5JhwTls4nSPISJqU","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"=DO $$ DECLARE r RECORD; BEGIN FOR r IN SELECT tablename FROM pg_tables WHERE schemaname = 'n8n_data' AND tablename LIKE 'tmp_{{ $('Combine Step Results').first().json.report_id }}_step_%' LOOP EXECUTE 'DROP TABLE IF EXISTS n8n_data.\"' || r.tablename || '\"'; END LOOP; END $$;","options":{}},"name":"Drop Temp Tables","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1312,112],"id":"3a33aa98-8cf5-4d90-841e-99aea0718c22","credentials":{"postgres":{"id":"5JhwTls4nSPISJqU","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"=DO $$ DECLARE r RECORD; BEGIN FOR r IN SELECT tablename FROM pg_tables WHERE schemaname = 'n8n_data' AND tablename LIKE 'tmp_{{ $('Combine Step Results').first().json.report_id }}_step_%' LOOP EXECUTE 'DROP TABLE IF EXISTS n8n_data.\"' || r.tablename || '\"'; END LOOP; END $$;","options":{}},"name":"Drop Temp Tables (Error)","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1312,304],"id":"9fcb2f60-18d3-4624-8fa0-9ddee0754e5a","credentials":{"postgres":{"id":"5JhwTls4nSPISJqU","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"schema":{"__rl":true,"value":"n8n_data","mode":"list","cachedResultName":"n8n_data"},"table":{"__rl":true,"value":"ai_usage","mode":"list","cachedResultName":"ai_usage"},"columns":{"mappingMode":"defineBelow","value":{"input_tokens":"={{ (Math.round(JSON.stringify($('Webhook').item.json.body).length + $('Combine Step Results').first().json.all_step_results.length) / 4) + 600 }}\n","user_email":"={{ $('Webhook').first().json.body.email }}","model_id":"={{ $('Webhook').first().json.body.model }}","call_type":"Execute - Formatter","output_tokens":"={{ Math.round(JSON.stringify($('Formatter').item.json).length / 4) }}\n"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"user_email","displayName":"user_email","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"model_id","displayName":"model_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"call_type","displayName":"call_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"input_tokens","displayName":"input_tokens","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"output_tokens","displayName":"output_tokens","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,-48],"id":"b19c4d40-d763-4b8f-81ee-9e1ce804f347","name":"Record Tokens","credentials":{"postgres":{"id":"5JhwTls4nSPISJqU","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"jsonSchemaExample":"{\n\t\"sql\": \"=INSERT INTO n8n_data.report_step_results (report_id, plan_id, step_number, purpose, dataset_id, step_result, status) VALUES ('rpt_1774734129303_ayleoa', '', 0, 'Final Consolidated Report', '', '<!DOCTYPE html> <html></html>', 'final_report')\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1872,96],"id":"af951961-74c4-42ac-9538-fd3c75e169d0","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"=SQL and Error:\n{{ $json.error.description }} \n","hasOutputParser":true,"needsFallback":true,"options":{"systemMessage":"=Role: You are an expert SQL query engineer.\nYou are to examine the failed SQL statement and the error provided and fix the SQL statement.\nOnly output SQL statement."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1536,-128],"id":"ac83bb13-aae7-43b4-9d3e-980b26c42c10","name":"Fix SQL","onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"{{ $json.output.sql }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2032,-176],"id":"17f1d81a-a907-4c09-9383-67ded52ec2a0","name":"Save Final Report1","credentials":{"postgres":{"id":"5JhwTls4nSPISJqU","name":"Postgres account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"=DO $$ DECLARE r RECORD; BEGIN FOR r IN SELECT tablename FROM pg_tables WHERE schemaname = 'n8n_data' AND tablename LIKE 'tmp_{{ $('Combine Step Results').first().json.report_id }}_step_%' LOOP EXECUTE 'DROP TABLE IF EXISTS n8n_data.\"' || r.tablename || '\"'; END LOOP; END $$;","options":{}},"name":"Drop Temp Tables1","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2288,-192],"id":"f430ddb7-9a3b-4f2a-8c10-0305b12139e7","credentials":{"postgres":{"id":"5JhwTls4nSPISJqU","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"model":"={{ $('Webhook').first().json.body.model || 'openai/gpt-oss-120b' }}","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1504,704],"id":"04470430-4166-4df8-9d2c-a4778d0c09a1","name":"Step LLM1","credentials":{"openRouterApi":{"id":"SScyp7rqdYRmN9lx","name":"OpenRouter account"}}},{"parameters":{"model":"openai/gpt-oss-120b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1808,688],"id":"56de3bf5-5d71-4c77-af76-0840ed9cd94d","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"SScyp7rqdYRmN9lx","name":"OpenRouter account"}}}],"connections":{"Step LLM":{"ai_languageModel":[[{"node":"Formatter","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Respond Immediately","type":"main","index":0},{"node":"Load All Step Results","type":"main","index":0}]]},"Load All Step Results":{"main":[[{"node":"Combine Step Results","type":"main","index":0}]]},"Combine Step Results":{"main":[[{"node":"Formatter","type":"main","index":0}]]},"Formatter":{"main":[[{"node":"Clean Up","type":"main","index":0},{"node":"Record Tokens","type":"main","index":0}],[{"node":"Save Formatter Error","type":"main","index":0}]]},"Report Template":{"ai_tool":[[{"node":"Formatter","type":"ai_tool","index":0}]]},"Clean Up":{"main":[[{"node":"Save Final Report","type":"main","index":0}]]},"Save Final Report":{"main":[[{"node":"Drop Temp Tables","type":"main","index":0}],[{"node":"Fix SQL","type":"main","index":0}]]},"Save Formatter Error":{"main":[[{"node":"Drop Temp Tables (Error)","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Fix SQL","type":"ai_outputParser","index":0}]]},"Fix SQL":{"main":[[{"node":"Save Final Report1","type":"main","index":0}]]},"Save Final Report1":{"main":[[{"node":"Drop Temp Tables1","type":"main","index":0}]]},"Step LLM1":{"ai_languageModel":[[{"node":"Fix SQL","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]}},"authors":"EUN ed.e.lee@gmail.com","name":"Version 6d138c97","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-03-29T04:11:24.425Z","id":672,"workflowId":"Zfb72Ej26LKIyijV5NbrG","versionId":"6d138c97-0684-4645-8f57-29b25569b319","event":"activated","userId":"311513a6-4117-4a5c-89e5-28f958dbd390"}]}}